
<section class="container mb-5">
  <h2 class="text-center my-4 py-2 fw-bold border-bottom"><%= @list.name%></h2>
  <p class="my-5 text-center text-dark">This is your list dude</p>

  <% @list.bookmarks.each do |bookmark| %>
  <div class="card p-2 d-flex justify-content-between">
    <div class="d-flex justify-content-between mx-2">
      <div class="d-flex flex-column">
        <div>
          <p class= "text-secondary"><%= bookmark.movie.title %></p>
        </div>
        <div class="flex">
          <p class= "ml-5 w-100"><%= bookmark.comment %></p>
        </div>
      </div>
      <div class="mx-2">
        <%= link_to "delete a bookmark", bookmark_path(bookmark), method: :delete, class: "text-decoration-none" %></p>
      </div>

    </div>
  <% end %>
</section>
<section class="container">
  <div class="list-menu d-flex justify-content-between">
    <%= link_to "add a bookmark", new_list_bookmark_path(@list)%>
    <%= link_to "back to home", lists_path%>
  </div>
</section>
